Resources:
# Add 1812-inbound to instance security group (AWSEBSecurityGroup)
  radiusProtocolIn: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: udp
      ToPort: 1812
      FromPort: 1812
      CidrIp: 0.0.0.0/0
  RadiusDB:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: "{{TableName}}"
      AttributeDefinitions:
      - AttributeName: User
        AttributeType: S
      - AttributeName: ExpireDate
        AttributeType: N
      KeySchema:
      - AttributeName: User
        KeyType: HASH
      - AttributeName: ExpireDate
        KeyType: RANGE
      ProvisionedThroughput:
        ReadCapacityUnits: '1'
        WriteCapacityUnits: '1'
  
