Resources:
# Add 1812-inbound to instance security group (AWSEBSecurityGroup)
 httpsFromLoadBalancerSG: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: udp
      ToPort: 1812
      FromPort: 1812
      CidrIp: 0.0.0.0/0